/* styles/Dashboard.module.css */
.dashboard {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.table th {
  background-color: #f4f4f4;
  color: #333;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #e2e2e2;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pageButton {
  margin: 0 5px;
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.pageButton:hover {
  background-color: #0056b3;
}

.pageButton:disabled {
  background-color: #c0c0c0;
  cursor: not-allowed;
}

.activePageButton {
  background-color: #0056b3;
}

.redirectButton {
  display: block;
  width: 100%;
  max-width: 150px; /* Reduce width to make button smaller */
  margin: 20px auto;
  padding: 8px 12px; /* Reduce padding for a smaller button */
  border: none;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px; /* Reduce font size */
  text-align: center;
}

.redirectButton:hover {
  background-color: #218838;
}
