/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/styles/Dashboard.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
/* styles/Dashboard.module.css */
.Dashboard_dashboard__f7Zlw {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.Dashboard_title__uNZVE {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.Dashboard_table__bdirt {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.Dashboard_table__bdirt th,
.Dashboard_table__bdirt td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.Dashboard_table__bdirt th {
  background-color: #f4f4f4;
  color: #333;
}

.Dashboard_table__bdirt tr:nth-child(even) {
  background-color: #f9f9f9;
}

.Dashboard_table__bdirt tr:hover {
  background-color: #e2e2e2;
}

.Dashboard_pagination__D_YW2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.Dashboard_pageButton__gL982 {
  margin: 0 5px;
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.Dashboard_pageButton__gL982:hover {
  background-color: #0056b3;
}

.Dashboard_pageButton__gL982:disabled {
  background-color: #c0c0c0;
  cursor: not-allowed;
}

.Dashboard_activePageButton__uB2IW {
  background-color: #0056b3;
}

.Dashboard_redirectButton__QFw3i {
  display: block;
  width: 100%;
  max-width: 150px; /* Reduce width to make button smaller */
  margin: 20px auto;
  padding: 8px 12px; /* Reduce padding for a smaller button */
  border: none;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px; /* Reduce font size */
  text-align: center;
}

.Dashboard_redirectButton__QFw3i:hover {
  background-color: #218838;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/styles/QuoteForm.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.QuoteForm_quoteForm__AbbU9 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.QuoteForm_formGroup__32IUM {
  display: flex;
  flex-direction: column;
}

.QuoteForm_formGroup__32IUM label {
  font-weight: bold;
  margin-bottom: 8px;
}

.QuoteForm_formGroup__32IUM input,
.QuoteForm_formGroup__32IUM select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.QuoteForm_formConceptContainer__1fuEq {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
}

.QuoteForm_formConcept__OrfyS {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: 32px;
  align-items: center;
}

.QuoteForm_formConcept__OrfyS input {
  margin-bottom: 8px;
}

.QuoteForm_addButton___ODko,
.QuoteForm_removeButton__27P_j {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.QuoteForm_addButton___ODko:hover,
.QuoteForm_removeButton__27P_j:hover {
  background-color: #0056b3;
}

.QuoteForm_submitButton__ilLbY {
  grid-column: span 2;
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.QuoteForm_submitButton__ilLbY:hover {
  background-color: #218838;
}

.QuoteForm_formContainer__IDuEc {
  padding: 20px;
}

.QuoteForm_formContainer__IDuEc h1 {
  text-align: center;
  margin-bottom: 20px;
}

