/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/styles/QuoteResult.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
/* QuoteResult.module.css */
.QuoteResult_container__g4nlB {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.QuoteResult_title__Qr3Uj {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.QuoteResult_field__wB1sp {
  margin-bottom: 15px;
}

.QuoteResult_field__wB1sp label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  color: #555;
}

.QuoteResult_field__wB1sp input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  box-sizing: border-box;
}

.QuoteResult_field__wB1sp input:read-only {
  background-color: #e9ecef;
}

.QuoteResult_returnButton___pool {
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  background-color: #0070f3;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.QuoteResult_returnButton___pool:hover {
  background-color: #005bb5;
}

.QuoteResult_error__ohEP_ {
  color: #ff0000;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}

